<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">ciara</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">GESTIONPROJETBACK</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="fr.gestionProjet.entities.Projets" />
        <mapping class="fr.gestionProjet.entities.Roles" />
        <mapping class="fr.gestionProjet.entities.Modules" />
        <mapping class="fr.gestionProjet.entities.Departements" />
        <mapping class="fr.gestionProjet.entities.Taches" />
        <mapping class="fr.gestionProjet.entities.Employes" />
    </session-factory>
</hibernate-configuration>
